<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 공통 로그 포맷 설정 -->
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <!-- 콘솔 로그 설정 (에러 레벨만 출력) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- 콘솔에서 ERROR 레벨만 출력 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 파일 로그 설정 (디버그 이상 레벨 기록) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/app/logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- 파일에 DEBUG 레벨 이상의 로그 기록 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 루트 로거 설정 (디버그 이상 레벨 설정) -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
